<div class="bg-primary text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-2 fw-bold text-white">Echt vermageren en fitter worden!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4 text-white">Afvallen? Spieren opbouwen? Fitter worden? Gezondheid opbouwen? Welke doelen je ook hebt: start nú bij JV FitCoach: Met onze complete begeleiding weet je in elk geval zeker dat je jouw doelen ook écht gaat halen.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-danger btn-lg px-4 me-sm-3 fw-bold text-white">Maak een afspraak</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Stel jouw vragen</button>
        </div>
      </div>
    </div>
  </div>







<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag("jonas_1.png", width: "120%") %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Sport & Voedingsadviseur</h1>
      <p class="lead">Ik ben Jonas Vervaet, 35 jaar en de drijvende kracht achter JV FitCoach.

      <br><br>  

      Op 5 jarige leeftijd ben ik als klein bazeke begonnen met voetballen.
      
      Vandaag, 30 jaar later kan ik terugkijken op een mooie en geslaagde voetbalcarrière.
      
      Ik speelde 7 jaar in 2de klasse, 2 jaar in 3de klasse en de overige jaren in het provinciaal voetbal.
      
      <br><br>      
      
      In de periode toen ik semiprof was, speelde gezonde sportvoeding reeds een belangrijke rol.
      
      Daarom was het al snel duidelijk dat ik die weg ging opgaan.
      
      Na mijn voetbalcarrière besloot ik om mijn diploma Sportvoedingsadviseur te behalen en JV FitCoach op te richten.
      
      <br><br>  
      
      Mijn passie en doel is om steeds het beste uit mensen te halen zodat ze de beste versie kunnen zijn van zichzelf.
      
      Samen de vooropgestelde doelen kunnen bereiken is mijn drijfveer.
      
      Is het nu om te vermageren, een gezondere levensstijl te hebben of spieropbouw, ik help je graag!
      
      <br><br>      
      
      Are you in?
      
      <br><br>       
      
      Sportieve groeten,
      
      Jonas</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Nu starten</button>
      </div>
    </div>
  </div>
    <br> <br>
  <h2 class="display-5 fw-bold pb-2 ">Diensten</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
      <div>
        <h4 class="fw-bold mb-0 text-primary">Gratis telefonische ontmoeting</h4>
        <p>Ik maak graag kort kennis met jou, wie ben je? Wat wil je bereiken?</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
      <div>
        <h4 class="fw-bold mb-0 text-primary">Intake gesprek</h4>
        <p>Samen doelen afstemmen en het voedingspatroon in kaart brengen.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
      <div>
        <h4 class="fw-bold mb-0 text-primary">Voedingsschema op maat</h4>
        <p>Met of zonder sport, voor elke leeftijd.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
      <div>
        <h4 class="fw-bold mb-0 text-primary">Huidplooimeting</h4>
        <p>Nauwkeurigste manier om het vetpercentage te meten.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
      <div>
        <h4 class="fw-bold mb-0 text-primary">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
      <div>
        <h4 class="fw-bold mb-0 text-primary">Sportadvies</h4>
        <p>Trainingsschema's op maat en dit voor alle sporten.</p>
      </div>
    </div>
  </div>

</div>
