<div class="px-4 py-5 my-5 text-center">
    <%= image_tag("logo.png", width: '80px') %>
    <h1 class="display-5 fw-bold">Start vandaag en verander jouw leven.</h1>
    <br>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Je kan me telefonisch bereiken op het nummer: <b>0479 61 13 85</b>.</p>
      <p class="lead mb-4">Wil je me liever een mail sturen? Dan kan dit op het e-mailadres: <b>jonas@jvfitcoach.com</b></p>
      <p class="lead mb-4">Adres van de praktijk: Langerbrugsestraat 249, 9940 Evergem</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Maak een afspraak</button>
      </div>
    </div>
  </div>